<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>

        <Console name="Console"
                 target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n"/>
        </Console>
        <File name="FileLogger14" fileName="logs/dec14.log">
            <PatternLayout>
                <Pattern>%msg%n</Pattern>
            </PatternLayout>
        </File>

    </Appenders>

    <Loggers>
        <Logger name="de.tanschmi.aoc2024.dec14" level="info" additivity="false">
            <AppenderRef ref="FileLogger14"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>

        </Root>
    </Loggers>
</Configuration>
